extends layout 

block stylesheet
    link(rel='stylesheet', href='/stylesheets/home.css')


block content
    div.home
        p Special messages for #[span members] only
        p Only members can send the messages
        ul
            each message in messages
                li
                    //- div.date Dec, 5, 2023
                    div.content
                        div.profile
                            img.avatar(src=message.user.picture.medium, alt="User")
                        p.name!= message.user.name.last
                        if loginUser && loginUser.isAdmin
                            div.link
                                a(href="/") 
                                    span.icon.mdi--delete
                                a(href="/") 
                                    span.icon.mdi--edit
                        div.speechBalloon
                            div.triangle
                            div.message
                                p!= message.content
                        p.timestamp= message.user.createdAt ? message.user.createdAt : '15:33'
        if loginUser
            a.addMessage(href="/club/message/create")
                span.icon.mdi--message-plus