doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="msapplication-config" content="/images/browserconfig.xml")
        link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
        link(rel="manifest" href="/images/site.webmanifest")
        link(rel="icon" type="image/png" sizes="192x192" href="/images/android-chrome-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
        link(rel="shortcut icon" href="/images/favicon.ico")
        title Only Messages
        script(type='text/javascript', src='/javascripts/index.js', defer)
        link(rel='stylesheet', href='/stylesheets/index.css')
        block stylesheet
    body 
        script(type='text/javascript', src='/javascripts/changeDarkScheme.js')
        .container
            header 
                div.logo
                    h1 Only Messages
                    a(href='/') 
                        img(src="/images/logo.png", alt="logo")
                nav
                    button.account(type="button")
                        div.wrapIcon
                            span.icon.mdi--account
                    ul
                        li
                            p #[Strong Signed in as]
                            p 
                                span example
                                span @gmail.com
                        li
                            div.theme
                                div.wrapToggleIcon
                                    div
                                        span.icon.mdi--day
                                        | Light Theme
                                    div 
                                        span.icon.mdi--night
                                        | Dark Theme
                                div.wrapToggleButton
                                    button.themeToggle(type="button")
                                        div
                        li
                            if user
                                a(href="/user/logout") 
                                    span.icon.mdi--logout 
                                    | Logout
                            else
                                a(href="/user/sign-in") 
                                    span.icon.mdi--login
                                    | Login
                        
                        //-For desktop 
                        //- div.toggle
                            //-     span.icon.mdi--day
                            //-     button(type="button")
                            //-         div
                            //-     span.icon.mdi--night

            main 
                block content
            
            footer 
                a(href="#" rel="noreferrer" target="_blank" aria-label="visit author's github")
                    span.icon.mdi--github
                span © 2023 - Designed & coded by Weiss Bai