.home {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	row-gap: 30px;
}

.home h2 {
	text-align: center;
	color: var(--light-scheme-highlight-color);
}

.home > p:first-of-type {
	font-size: 1.5rem;
}

.home > p:first-of-type span {
	color: var(--light-scheme-highlight-color);
}

.home > p {
	text-align: center;
}

.home ul {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.home ul li {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.home ul li > .date {
	align-self: center;
	border-radius: 15px;
	padding: 5px 10px;
	font-style: italic;
	background-color: var(--light-scheme-shadow);
}

.home ul li .wrap {
	position: relative;
	flex: 1 1 100%;
}

.home ul li .wrap .removeWrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
}

.home ul li .wrap .removeWrap .alert {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding: 15px;
	border-radius: 20px;
	border: 2px solid var(--light-scheme-color);
	background-color: var(--light-scheme-bgc);
}

.home ul li .wrap .removeWrap .alert form {
	display: flex;
	justify-content: space-around;
}

.home ul li .wrap .removeWrap .alert a,
.home ul li .wrap .removeWrap .alert button.submit {
	min-height: 45px;
	border-radius: 10px;
	border: 2px solid var(--light-scheme-color);
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home ul li .wrap .removeWrap .alert a {
	background-color: var(--light-scheme-shadow);
}

.home ul li .wrap .removeWrap .alert form button.submit {
	background-color: var(--light-error-label-color);
	color: var(--dark-scheme-color);
}

.home ul li .wrap .removeWrap .alert a:hover {
	background-color: var(--light-scheme-color);
	color: var(--dark-scheme-color);
}
.home ul li .wrap .removeWrap .alert form button.submit:hover {
	background-color: var(--light-scheme-main);
	color: var(--light-scheme-color);
}


.home ul li .content {
	display: grid;
	grid-template:
		"profile 	   topBar" auto
		"profile	bottomBar" auto
		/ auto 1fr;
	row-gap: 5px;
}

.home ul li .content.remove {
	opacity: 0.3;
}

.home ul li.reverse .content {
	grid-template:
		"topBar 	profile" auto
		"bottomBar	profile" auto
		/ 1fr auto;
}

.home ul li .content .topBar {
	grid-area: topBar;
	display: flex;
	align-items: center;
}

.home ul li.reverse .content .topBar {
	flex-direction: row-reverse;
}

.home ul li .content .profile > * {
	width: var(--icon-mobile-size);
	height: var(--icon-mobile-size);
}

.home ul li .content .profile > div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--light-scheme-color);
	color: var(--dark-scheme-color);
	font-size: 2.5rem;
	font-weight: 700;
	border-radius: 100%;
}

.home ul li .content .topBar .name {
	flex: 1 1 100%;
	padding: 0 10px;
	overflow-wrap: anywhere;
}

.home ul li.reverse .content .topBar .name {
	text-align: right;
}

.home ul li .content .topBar .link {
	display: flex;
}

.home ul li.reverse .content .topBar .link {
	flex-direction: row-reverse;
}

.home ul li .content .topBar .link a {
	height: 100%;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.home ul li .content .topBar .link a span.icon {
	width: var(--icon-desktop-size);
	height: var(--icon-desktop-size);
}

.home ul li .content .bottomBar {
	grid-area: bottomBar;
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.home ul li.reverse .content .bottomBar {
	flex-direction: row-reverse;
	column-gap: 5px;
}

.home ul li .content .bottomBar .speechBalloon {
	display: flex;
}

.home ul li.reverse .content .bottomBar .speechBalloon {
	flex-direction: row-reverse;
}

.home ul li .content .bottomBar .speechBalloon .triangle {
	grid-area: triangle;
	--triangleDegrees: 20deg;
	align-self: flex-start;
	transform-origin: right bottom;
	transform: rotate(var(--triangleDegrees));
	border-top: 0px solid transparent;
	border-left: 0px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 15px solid var(--light-scheme-bgc);
}

.home ul li.reverse .content .bottomBar .speechBalloon .triangle {
	transform-origin: left bottom;
	transform: rotate(calc(0deg - var(--triangleDegrees)));
	border-left: 15px solid var(--light-scheme-bgc);
	border-right: 0px solid transparent;
}

.home ul li .content .bottomBar .speechBalloon .message {
	background-color: var(--light-scheme-bgc);
	border-radius: 5px;
	border-top-left-radius: 0px;
	padding: 10px;
	box-shadow: 3px 3px 3px 1px var(--light-scheme-shadow);
	overflow-wrap: anywhere;
}

.home ul li.reverse .content .bottomBar .speechBalloon .message {
	border-top-left-radius: 5px;
	border-top-right-radius: 0px;
}

.home ul li .content .bottomBar .time {
	align-self: flex-end;
}

.home .addMessage {
	position: fixed;
	bottom: 10%;
	right: 30px;
	padding: 10px;
	border-radius: 100%;
	background-color: var(--light-scheme-highlight-color);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.home .addMessage .icon {
	width: var(--icon-desktop-size);
	height: var(--icon-desktop-size);
	filter: invert(100%) sepia(1%) saturate(6118%) hue-rotate(281deg)
		brightness(117%) contrast(64%);
}

/* icon */
.home .mdi--delete {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6z'/%3E%3C/svg%3E");
}
.home .mdi--edit {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83l3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75z'/%3E%3C/svg%3E");
}
.home .mdi--message-plus {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m8.5 18l3.5 4l3.5-4H19c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2H5c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2zM7 9h4V5h2v4h4v2h-4v4h-2v-4H7z'/%3E%3C/svg%3E");
}
.home .mdi--anonymous {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2c5.5 0 10 4.5 10 10s-4.5 10-10 10S2 17.5 2 12S6.5 2 12 2m2.92 10.81c-1.08 0-1.97.75-2.21 1.75c-.54-.23-1.05-.17-1.42-.01c-.24-1-1.14-1.74-2.21-1.74c-1.25 0-2.26 1.01-2.26 2.26c0 1.25 1.01 2.26 2.26 2.26c1.2 0 2.16-.91 2.25-2.08c.2-.13.71-.39 1.34.01a2.258 2.258 0 0 0 4.51-.19c0-1.25-1.01-2.26-2.26-2.26m-5.84.64c.92 0 1.62.73 1.62 1.62c0 .89-.7 1.62-1.62 1.62c-.89 0-1.62-.73-1.62-1.62c0-.89.73-1.62 1.62-1.62m5.84 0c.89 0 1.62.73 1.62 1.62c0 .89-.73 1.62-1.62 1.62c-.92 0-1.62-.73-1.62-1.62c0-.89.7-1.62 1.62-1.62m2.91-1.95H6.17v.67h11.66zm-3.68-4.61a.672.672 0 0 0-.8-.36L12 7l-1.35-.47l-.04-.03a.672.672 0 0 0-.77.42l-1.48 3.91h7.28l-1.48-3.91z'/%3E%3C/svg%3E");
}

/* dark theme */
.dark .home > p:first-of-type span {
	color: var(--dark-scheme-highlight-color);
}

.dark .home ul li > .date {
	background-color: var(--dark-list-link-hover-bgc);
}

.dark .home ul li .content .profile > div {
	background-color: var(--dark-scheme-color);
	color: var(--light-scheme-color);
	font-weight: 500;
}

.dark .home ul li .wrap .removeWrap .alert {
	border: 1px solid var(--dark-scheme-color);
	background-color: var(--dark-button-link-hover-bgc);
}

.dark .home ul li .wrap .removeWrap .alert a,
.dark .home ul li .wrap .removeWrap .alert button.submit {
	color: var(--dark-scheme-color);
	border: 1px solid var(--dark-scheme-color);
}

.dark .home ul li .wrap .removeWrap .alert a {
	background-color: var(--dark-list-link-hover-bgc);
}

.dark .home ul li .wrap .removeWrap .alert form button.submit {
	background-color: var(--dark-error-label-color);
	color: var(--light-scheme-color);
}

.dark .home ul li .wrap .removeWrap .alert a:hover {
	background-color: var(--dark-scheme-color);
	color: var(--light-scheme-color);
}
.dark .home ul li .wrap .removeWrap .alert form button.submit:hover {
	background-color: var(--dark-scheme-bgc);
	color: var(--dark-scheme-color);
}

.dark .home ul li .content .bottomBar .speechBalloon .triangle {
	border-right-color: var(--dark-button-link-hover-bgc);
}

.dark .home ul li.reverse .content .bottomBar .speechBalloon .triangle {
	border-left-color: var(--dark-button-link-hover-bgc);
}

.dark .home ul li .content .bottomBar .speechBalloon .message {
	background-color: var(--dark-button-link-hover-bgc);
	box-shadow: none;
}

.dark .home .addMessage {
	background-color: var(--dark-scheme-highlight-color);
}

.dark .home .addMessage .icon {
	filter: none;
}

@media (min-width: 400px) {
	.home .addMessage {
		right: 15%;
	}
}

@media (min-width: 500px) {
	.home {
		border: 4px solid var(--light-scheme-color);
		border-radius: 20px;
		padding: 10px;
	}

	.dark .home {
		border: 1px solid var(--dark-scheme-color);
	}

	.home .addMessage {
		right: 10%;
	}
}

@media (min-width: 700px) {
	.home {
		padding: 20px;
	}
}

@media (min-width: 900px) {
	.home {
		padding: 30px;
	}

	.home .addMessage {
		right: 15%;
	}

	.home .addMessage .icon {
		width: var(--icon-mobile-size);
		height: var(--icon-mobile-size);
	}
}
